.itemListContainer{
    background-color: grey;
    border: 2px solid black ;
    height: 150px;
    overflow-y: scroll;
    align-items: center;
    display: flex;
    flex-direction:column;
    width: 400px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.itemListContainer::-webkit-scrollbar{
    display: none;
}
.wrapper{
    overflow: hidden;
}

.indiItem{
    display: flex;
    padding-top: 10px;
    border-bottom: 2px solid black;

    width: 100%;
    margin-bottom: 0px;
}
.indiBase{
    display: grid;
    grid-template-columns: .25fr 1fr ;
    grid-column-gap: 5px;
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: 5px;
    padding-bottom: 5px;

}

.createItemButton{
    height: 30px;
    padding-bottom: 25px !important;
}
.createItemButtonWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;

}
.colorDiv{
    width: 15px;
    height: 15px;
    position: relative;
    border: 2px solid white;
    margin-left: 10px;
    margin-bottom: 8px;

}
.itemNameContainer{
    width: 160px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
}
.deleteItem{
    margin-left: 10px;
    margin-bottom: 8px;
}
.editItem{
    margin-left: 10px;
    margin-bottom: 8px;
}
/* .rightContainer {
    width: inherit;
    max-height: inherit;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    background-color: var(--rh-dark-base);
    border: 1px solid var(--rh-dark-border);
    border-radius: 4px;
    position: fixed;
  } */
