/* TODO Add site wide styles */
:root {
    --rh-green-base: rgb(0, 200, 5);
    --rh-green-hover: rgba(38, 208, 43, 1);
    --rh-green-pressed: rgba(64, 214, 68, 1);
    --rh-dark-green-hover: rgba(0, 160, 4, 0.2);
    --rh-red-base: rgb(255, 80, 0);
    --rh-red-hover: rgba(255, 106, 38, 1);
    --rh-red-hover2: rgba(255, 80, 0, 0.2);
    --rh-red-pressed: rgba(255, 124, 64, 1);
    --rh-dark-base: rgb(30, 33, 36);
    --rh-dark-hover: rgba(53, 55, 58, 1);
    --rh-dark-pressed: rgba(75, 77, 80, 1);
    --rh-dark-border: rgb(64, 73, 78);
    --rh-dark-base2: rgb(145, 159, 166);
    /* --item-1:red;
    --item-2: purple;
    --item-3:
    --item-4:yellow;
    --item-5:
    --item-6:
    --item-7:
    --item-8:
    --item-9:
    --item-10:
    --item-11:
    --item-12:
    --item-13:
    --item-14:
    --item-15:
    --item-16:
    --item-17:
    --item-18:
    --item-19:
    --item-20:
    --item-21:
    --item-22:
    --item-23:
    --item-24:
    --item-25:
    --item-26:
    --item-27:
    --item-28:
    --item-29:
    --item-30:
    --item-31:
    --item-32:
    --item-33:
    --item-34:
    --item-35:
    --item-36:
    --item-37:
    --item-38:
    --item-39:
    --item-40:
    --item-41:
    --item-42:
    --item-43:
    --item-44: */
  }
