.grid{
    width: 1250px;
    margin: 0 auto;
}

.column{
    margin-bottom: 0;
    height: 20px;
}
.point{
    width: 20px;
    height: 20px;
    outline:1px solid skyblue;
    display:inline-block;
    margin-bottom: 0;
}

.wall{
    background-color: blue;
}

.wall:hover{
    background-color: black;
}
.start{
    background-color: orange;
}
.end{
    background-color: green;
}
